<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- redirection des logs vers la sortir Console Standard -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	
		<!-- redirection vers un fichier -->
	<appender name="FILE-1" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	
	<!-- politique de log pour les classes du package dev.console -->
	<logger name="fr.pizzeria.console" level="INFO">
		<appender-ref ref="FILE-1" />
	</logger>
	
<appender name="FILE-2" class="ch.qos.logback.core.FileAppender">
		<file>exception.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="fr.pizzeria.console" level="ERROR">
		<appender-ref ref="FILE-2" />
	</logger>
	<!-- règle de logs par défaut. Ici : niveau INFO vers la sortie standard -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root> 
	
</configuration>